@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  letter-spacing: 0;
}

body {
  background-color: #F6F6F6;
  font-family: "avenirregular";
}

a {
  text-decoration: none;
}

[id$="--hidden"] {
  display: none !important;
}

#index-container {
  color: #464650;
  display: flex;
  justify-content: center;
  transition: filter 0.3s ease-in-out;
}
#index-container .heroimage {
  background: url(/img/heroimg.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  opacity: 0.39;
  position: fixed;
  z-index: -100;
}
#index-container .logo-wrapper {
  text-align: center;
}
#index-container .logo-wrapper .logo-main {
  border: 3px #464650 solid;
  font-size: 29px;
  padding: 2px 7px 4px;
  width: 164px;
  height: 32px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}
#index-container .logo-wrapper .logo-text {
  margin-top: 12px;
  font-size: 20px;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

.input-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 20px;
}

.center-wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
}

#btn-sign-in {
  position: absolute;
  top: 0;
  right: 0;
  color: #464650;
  font-size: 15px;
  margin: 10px;
  cursor: pointer;
  z-index: 50;
}

.blur {
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
}

.index-btn-container {
  margin-top: 70px;
}

.btn {
  width: 155px;
  height: 23px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-size: 22px;
  padding: 4px 0 8px;
  border: none;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
}

.btn-dark {
  color: #F6F6F6;
  background-color: #464650;
}

.btn-cyan {
  color: #F6F6F6;
  background-color: #36C3D9;
}

.cyan-color {
  color: #36C3D9;
}

.dark-color {
  color: #464650;
}

.fixed {
  position: fixed !important;
}

.helper {
  width: 100%;
  height: 85px;
}

.nav-active {
  transform: translateX(0%) !important;
  -ms-transform: translateX(0%) !important;
  -webkit-transform: translateX(0%) !important;
}

.nav-bar {
  width: 100%;
  height: 85px;
  background-color: #464650;
  position: relative;
  z-index: 100;
}
.nav-bar .logo-nav {
  width: 102px;
  height: 24px;
  color: #36C3D9;
  border: 2px #36C3D9 solid;
  font-size: 18px;
  position: absolute;
  top: 30px;
  left: 20px;
  padding: 1px 2px;
}
.nav-bar .btn-nav {
  position: absolute;
  top: 33px;
  right: 23px;
  z-index: 101;
}
.nav-bar .toggle {
  width: 25px !important;
  height: 25px !important;
}
.nav-bar .toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 6px);
  height: 3px !important;
  width: 25px !important;
}
.nav-bar .toggle .line2 {
  opacity: 0;
}
.nav-bar .toggle .line3 {
  transform: rotate(45deg) translate(-4px, -6px);
  height: 3px !important;
  width: 25px !important;
}
.nav-bar #btn-exit {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.nav-bar #btn-exit div {
  width: 100%;
  height: 3px;
  background-color: #F6F6F6;
  position: absolute;
  top: 12px;
}
.nav-bar #btn-exit .line1 {
  transform: rotate(45deg);
}
.nav-bar #btn-exit .line2 {
  transform: rotate(135deg);
}
.nav-bar #btn-burger {
  width: 24px;
  height: 16px;
  top: 36px;
}
.nav-bar #btn-burger div {
  width: 100%;
  height: 2px;
  background-color: #F6F6F6;
  position: absolute;
  transition: all 0.3s ease;
}
.nav-bar #btn-burger .line1 {
  top: 0;
}
.nav-bar #btn-burger .line2 {
  top: 7px;
}
.nav-bar #btn-burger .line3 {
  top: 14px;
}
.nav-bar .nav-links {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 85px;
  flex-direction: column;
  align-items: center;
  background-color: #5D5D5D64;
  z-index: 50;
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.nav-bar .nav-links #menu {
  color: #F6F6F6;
  font-size: 25px;
  position: relative;
}
.nav-bar .nav-links #menu::after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 2px;
  background-color: #F6F6F6;
  bottom: -10px;
  right: -8px;
}
.nav-bar .nav-links li {
  list-style: none;
  margin-top: 8vh;
  opacity: 0;
}
.nav-bar .nav-links a {
  color: #F6F6F6;
  font-size: 35px;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
#sign-in {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
  background-color: #5D5D5D64;
}
#sign-in form {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}
#sign-in form .sign-in-row {
  margin-top: 15%;
}
#sign-in form label {
  font-size: 13px;
  color: #464650;
}
#sign-in form input[type=text],
#sign-in form input[type=password] {
  width: 100%;
  outline: none;
  border: none;
  font-size: 16px;
  color: #F6F6F6;
  border-bottom: 2px #464650 solid;
  background-color: #ffffff00;
  padding: 5px 0 12px;
}
#sign-in form input[type=password] {
  font: large Verdana, sans-serif;
}
#sign-in form ::placeholder {
  color: #F6F6F6;
  font-family: "avenirregular";
}
#sign-in form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #F6F6F6;
  font-family: "avenirregular";
}
#sign-in form ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #F6F6F6;
  font-family: "avenirregular";
}
#sign-in form input[type=submit] {
  outline: none;
  border: 2px #464650 solid;
  color: #464650;
  font-size: 22px;
  background-color: #ffffff00;
  width: 155px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.form-row {
  margin-top: 25.5px;
}

.form-btn-wrapper {
  margin-top: 25.5px;
  display: flex;
  align-items: center;
  height: 50px;
}

.sign-up-container {
  background-color: #F6F6F6;
  height: 100vh;
}

.sign-up-wrapper {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}
.sign-up-wrapper label {
  font-size: 13px;
  color: #95A5A6B3;
}
.sign-up-wrapper input[type=text],
.sign-up-wrapper input[type=password],
.sign-up-wrapper input[type=email],
.sign-up-wrapper input[type=tel],
.sign-up-wrapper input[type=date],
.sign-up-wrapper input[type=number],
.sign-up-wrapper textarea {
  font-family: "avenirregular";
  width: 100%;
  outline: none;
  border: none;
  font-size: 16px;
  color: #95A5A6;
  border-bottom: 2px #95A5A6 solid;
  background-color: #ffffff00;
  padding: 5px 0 12px;
  resize: none;
}
.sign-up-wrapper input[type=password] {
  font: large Verdana, sans-serif;
}
.sign-up-wrapper input[type=password]::placeholder {
  color: #95A5A6;
  font: large Verdana, sans-serif;
  font-size: 16px;
}
.sign-up-wrapper input[type=password]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #95A5A6;
  font: large Verdana, sans-serif;
  font-size: 16px;
}
.sign-up-wrapper input[type=password]::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #95A5A6;
  font: large Verdana, sans-serif;
  font-size: 16px;
}
.sign-up-wrapper input[type=checkbox] {
  border: #95A5A6;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.sign-up-wrapper .checkbox {
  color: #95A5A6;
  font-size: 14px;
  padding: 5px 0 12px;
  display: flex;
  align-items: center;
}
.sign-up-wrapper .checkbox a {
  color: #464650;
  cursor: pointer;
}
.sign-up-wrapper input[type=date] {
  width: 46%;
}
.sign-up-wrapper .date {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.sign-up-wrapper .date input[type=text] {
  width: 46%;
}
.sign-up-wrapper .relative {
  position: relative;
}
.sign-up-wrapper .degree {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  font-size: 16px;
  color: #95A5A6;
  bottom: 14px;
}
.sign-up-wrapper .degree input[type=number] {
  position: relative;
  right: 0;
  border: none;
  padding: 0;
  text-align: right;
}
.sign-up-wrapper .degree .limit {
  position: relative;
  right: 0;
}
.sign-up-wrapper .upload {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 8px 0 7px;
  text-align: center;
  background: #ffffff00;
  border: 2px #36C3D9 solid;
  cursor: pointer;
  margin-top: 5px;
}
.sign-up-wrapper .upload input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
.sign-up-wrapper .upload label {
  color: #36C3D9;
  font-size: 16px;
  cursor: pointer;
  font-family: "avenirregular";
}
.sign-up-wrapper .upload label:before {
  content: "⇪";
  margin-right: 5px;
}
.sign-up-wrapper ::placeholder {
  color: #95A5A6;
  font-family: "avenirregular";
  font-size: 16px;
}
.sign-up-wrapper :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #95A5A6;
  font-family: "avenirregular";
  font-size: 16px;
}
.sign-up-wrapper ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #95A5A6;
  font-family: "avenirregular";
  font-size: 16px;
}
.sign-up-wrapper input[type=submit] {
  height: 35px;
}
.sign-up-wrapper .step {
  margin-top: 17px;
  width: 100%;
  color: #36C3D9;
  text-align: right;
  font-size: 13px;
}

.page-title {
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin-top: 32px;
}

.btn-add {
  display: flex;
  justify-content: flex-end;
  margin-top: 31.5px;
  align-items: center;
  color: #36C3D9;
  cursor: pointer;
}

.btn-text {
  font-size: 16px;
  margin-right: 8px;
}

.btn-border {
  width: 21px;
  height: 21px;
  border: 2px solid #36C3D9;
}

.btn-icon {
  font-size: 30px;
  transform: translate(0.5px, -8.5px);
}

#container {
  width: 100%;
  height: 100vh;
  background-color: #F6F6F6;
}
#container .small-title {
  background-color: #E5E8E8;
  font-size: 18px;
  color: #464650;
  text-align: center;
  height: 24px;
  width: 100%;
  padding: 20px 0;
}
#container .list-row {
  width: 100%;
  min-height: 63px;
  border-bottom: 2px #95A5A659 solid;
  position: relative;
}
#container .first-text {
  position: absolute;
  font-size: 16px;
  color: #95A5A6;
  top: 10px;
  left: 21px;
}
#container .last-text {
  position: absolute;
  font-size: 16px;
  bottom: 10px;
  left: 21px;
}
#container .app-status-sent {
  color: #95A5A6B3;
}
#container .app-status-opened {
  color: #75757B;
}
#container .app-status-replied {
  color: #75757B;
}
#container .app-status-replied a {
  color: #36C3D9;
}

.title-element {
  font-size: 20px;
  color: #95A5A6B3;
  position: absolute;
  top: 19px;
  left: 21px;
}

.btn-element {
  position: absolute;
  top: 28px;
  right: 31px;
}
.btn-element .btn-unwrap {
  width: 16px;
  height: 10px;
  background-color: red;
}

.element-wrapper {
  width: 75%;
  color: #95A5A6;
  margin: 32px auto;
}
