* {
  margin: 0;
  padding: 0;
  letter-spacing: 0;
}

body {
  background-color: #F6F6F6;
  font-family: "avenirregular";
}

a {
  text-decoration: none;
}

[id$="--hidden"] {
  display: none;
}

#index-container {
  color: #464650;
  display: flex;
  justify-content: center;
  transition: filter 0.3s ease-in-out;
}
#index-container .heroimage {
  background: url(/img/heroimg.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  opacity: 0.39;
  position: fixed;
  z-index: -100;
}
#index-container .logo-wrapper {
  text-align: center;
}
#index-container .logo-wrapper .logo-main {
  border: 3px #464650 solid;
  font-size: 29px;
  padding: 2px 7px 4px;
  width: 164px;
  height: 32px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}
#index-container .logo-wrapper .logo-text {
  margin-top: 12px;
  font-size: 20px;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

.input-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 20px;
}

.center-wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
}

#btn-sign-in {
  position: absolute;
  top: 0;
  right: 0;
  color: #464650;
  font-size: 15px;
  margin: 10px;
  cursor: pointer;
  z-index: 50;
}

.blur {
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
}

.index-btn-container {
  margin-top: 70px;
}

.btn {
  width: 155px;
  height: 23px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-size: 22px;
  padding: 4px 0 8px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
}

.btn-dark {
  color: #F6F6F6;
  background-color: #464650;
}

.nav-bar {
  width: 100%;
  height: 85px;
  background-color: #464650;
  position: relative;
}
.nav-bar .logo-nav {
  width: 102px;
  height: 24px;
  color: #36C3D9;
  border: 2px #36C3D9 solid;
  font-size: 18px;
  position: absolute;
  top: 30px;
  left: 20px;
  padding: 1px 2px;
}
.nav-bar .btn-nav {
  position: absolute;
  top: 33px;
  right: 23px;
  width: 23px;
  height: 23px;
  background: #F6F6F6;
  z-index: 101;
}
.nav-bar #btn-exit {
  cursor: pointer;
}

#sign-in {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
  background-color: #5D5D5D64;
}
#sign-in form {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
#sign-in form .sign-in-row {
  margin-top: 15%;
}
#sign-in form label {
  font-size: 13px;
  color: #464650;
}
#sign-in form input[type=text],
#sign-in form input[type=password] {
  width: 100%;
  outline: none;
  border: none;
  font-size: 16px;
  color: #F6F6F6;
  border-bottom: 2px #464650 solid;
  background-color: #ffffff00;
  padding: 5px 0 12px;
}
#sign-in form input[type=password] {
  font: large Verdana, sans-serif;
}
#sign-in form ::placeholder {
  color: #F6F6F6;
  font-family: "avenirregular";
}
#sign-in form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #F6F6F6;
  font-family: "avenirregular";
}
#sign-in form ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #F6F6F6;
  font-family: "avenirregular";
}
#sign-in form input[type=submit] {
  outline: none;
  border: 2px #464650 solid;
  color: #464650;
  font-size: 22px;
  background-color: #ffffff00;
  width: 155px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.form-btn-wrapper {
  margin-top: 20%;
  display: flex;
  align-items: center;
}
