$color-cyan: #36C3D9;
$color-white: #fff;
$color-background: #F6F6F6;
$color-darkgrey: #464650;
$color-titlebar: #E5E8E8;
$color-seagrey: #95A5A6;
$color-label: #95A5A6B3;
$color-list-line: #95A5A659;


*{
    margin:0;
    padding:0;
    letter-spacing: 0;
}

body {
    background-color: $color-background;
    font-family: 'avenirregular';
}

a{
    text-decoration: none;
}

[id$=--hidden]{
    display: none !important;
}

#index-container{
    color: $color-darkgrey;
    display: flex;
    justify-content: center;
    transition: filter 0.3s ease-in-out;

    .heroimage {
        background: url(/img/heroimg.jpg) center center no-repeat;
        background-size: cover;
        height: 100vh;
        width:100%;
        opacity: 0.39;
        position:fixed;
        z-index: -100;
    }
    .logo-wrapper{
        text-align: center;

        .logo-main{
            border: 3px $color-darkgrey solid;
            font-size: 29px;
            padding: 2px 7px 4px;
            width: 164px;
            height: 32px;
            -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);
            box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);
            text-shadow: 0px 3px 6px rgba(0,0,0,0.25);
        }

        .logo-text{
            margin-top: 12px;
            font-size: 20px;
            text-shadow: 0px 3px 6px rgba(0,0,0,0.25);
        }
    }
}

.input-wrapper{
    position:absolute;
    width: 100%;
    height:100%;
    top: 20px;
}

.center-wrapper{
    display: flex;
    align-items: center;
    height: 100vh;
}

#btn-sign-in{
    position: absolute;
    top: 0;
    right: 0;
    color: $color-darkgrey;
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
    z-index:50;
    
}

.blur{
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
}

.index-btn-container{
    margin-top: 70px;
}

.btn{
    width: 155px;
    height: 23px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-size:22px;
    padding: 4px 0 8px;
    border:none;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.25);
}

.btn-dark{
    color: $color-background;
    background-color: $color-darkgrey;
}

.btn-cyan{
    color: $color-background;
    background-color: $color-cyan;
}

.cyan-color{
    color: $color-cyan !important;
}

.dark-color{
    color: $color-darkgrey;
}

.fixed{
    position: fixed !important;
}

.helper{
    width: 100%;
    height: 85px;
}

.nav-active{
    transform: translateX(0%) !important;
    -ms-transform: translateX(0%) !important;
    -webkit-transform: translateX(0%) !important;
    
}

.nav-bar{
    width: 100%;
    height: 85px;
    background-color: $color-darkgrey;
    position: relative;
    z-index:100;

    .logo-nav{
        width: 102px;
        height: 24px;
        color: $color-cyan;
        border: 2px $color-cyan solid;
        font-size: 18px;
        position: absolute;
        top: 30px;
        left: 20px;
        padding: 1px 2px;
    }
    
    .btn-nav{
        position: absolute;
        top: 33px;
        right: 23px;
        z-index: 101;
    }

    .toggle{
        width:25px !important;
        height:25px !important;
        .line1{
            transform: rotate(-45deg) translate(-4px, 6px);
            height: 3px !important;
            width: 25px !important;
        }
        .line2{
            opacity:0;
        }
        .line3{
            transform: rotate(45deg) translate(-4px, -6px);
            height:3px !important;
            width: 25px !important;
        }
    }

    #btn-exit{  
        width: 25px;
        height: 25px;
        cursor: pointer;

        div {
            width: 100%;
            height: 3px;
            background-color: $color-background;
            position: absolute;
            top: 12px;
        }

        .line1{
            transform: rotate(45deg);
        }

        .line2{
            transform: rotate(135deg);
        }
    }

    #btn-burger{  
        width: 24px;
        height: 16px;
        top: 36px;

        div {
            width: 100%;
            height: 2px;
            background-color: $color-background;
            position: absolute;
            transition: all 0.3s ease;
        }

        .line1{
            top:0;
        }

        .line2{
            top:7px;
        }

        .line3{
            top:14px;
        }
    }

    .nav-links{
        display: flex;
        position:fixed;
        width: 100%;
        height: 100vh;
        top: 85px;
        flex-direction: column;
        align-items: center;
        background-color: #5D5D5D64;
        z-index: 50;
        -ms-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);

        #menu{
            color: $color-background;
            font-size: 25px;
            position: relative;

            &::after{
                content:'';
                position:absolute;
                display: block;
                width: 80px;
                height: 2px;
                background-color: $color-background;
                bottom: -10px;
                right: -8px;
            }
        }

        li{
            list-style:none;
            margin-top: 8vh;
            opacity: 0;
        }

        a{
            color: $color-background;
            font-size: 35px;
        }
    }
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        -ms-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.underlineTA{
            
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0px;
        left: 0;
        border-bottom: 3px $color-cyan solid;
        transform: translateX(-101%);
        -ms-transform: translateX(-101%);
        -webkit-transform: translateX(-101%);
        transition: transform 0.5s ease-in-out;
    }
}

.underline{
            
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: -1px;
        left: 0;
        border-bottom: 3px $color-cyan solid;
        transform: translateX(-101%);
        -ms-transform: translateX(-101%);
        -webkit-transform: translateX(-101%);
        transition: transform 0.5s ease-in-out;
    }
}

input:focus + .underline::after{
    transform: translateX(0%);
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
}

textarea:focus + .underlineTA::after{
    transform: translateX(0%);
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
}

#sign-in{
    position: fixed;

    width:100%;
    height:100%;
    top:0;
    z-index: 100;
    background-color: #5D5D5D64;
    //transition: all 0.3s ease-in-out;

    form{
        width:75%;
        margin-left:auto;
        margin-right: auto;
        max-width: 400px;
        overflow: hidden;

        .sign-in-row{
            margin-top: 15%;
            position:relative;
        }

        label{
            font-size: 13px;
            color: $color-darkgrey;
            pointer-events: none;
        }

        input[type=text],
        input[type=password]{
            width:100%;
            outline: none;
            border: none;
            font-size:16px;
            color: $color-background;
            border-bottom: 2px $color-darkgrey solid;
            background-color: #ffffff00;
            padding: 5px 0 12px;
        }

        input[type=password]{
            font: large Verdana,sans-serif;
        }

        ::placeholder{
            color: $color-background;
            font-family: 'avenirregular';
        }
        :-ms-input-placeholder { /* Internet Explorer 10-11 */ 
            color: $color-background;
            font-family: 'avenirregular';
        }
        ::-ms-input-placeholder { /* Microsoft Edge */ 
            color: $color-background;
            font-family: 'avenirregular';
        }

        input[type=submit]{
            outline: none;
            border: 2px $color-darkgrey solid;
            color: $color-darkgrey;
            font-size: 22px;
            background-color: #ffffff00;
            width: 155px;
            height: 35px;
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
        }
    }
}

.form-row{
    margin-top: 25.5px;
    position:relative;
}

.form-btn-wrapper{
    margin-top: 25.5px;
    display: flex;
    align-items: center;
    height: 50px;
}

.sign-up-container{
    background-color: $color-background;
    height: 100vh;
}

.sign-up-wrapper{
    width:75%;
    margin-left:auto;
    margin-right: auto;
    max-width: 500px;
    overflow: hidden;
}
label{
    font-size: 13px;
    color: $color-label;
}

input[type=text],
input[type=password],
input[type=email],
input[type=tel],
input[type=date],
input[type=number],
textarea,
select
{
    font-family: 'avenirregular';
    width:100%;
    outline: none;
    border: none;
    font-size:16px;
    color: $color-seagrey;
    border-bottom: 2px $color-seagrey solid;
    background-color: #ffffff00;
    padding: 5px 0 12px;
    resize: none;
}
input[type=password]{
    font: large Verdana,sans-serif;

    &::placeholder{
        color: $color-seagrey;
        font: large Verdana,sans-serif;
        font-size:16px;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
        color: $color-seagrey;
        font: large Verdana,sans-serif;
        font-size:16px;
    }
    &::-ms-input-placeholder { /* Microsoft Edge */ 
        color: $color-seagrey;
        font: large Verdana,sans-serif;
        font-size:16px;
    }
}
input[type=checkbox]{
    border: $color-seagrey;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.checkbox{
    color: $color-seagrey;
    font-size: 14px;
    padding: 5px 0 12px;
    display:flex;
    align-items: center;
    
    a{
        color: $color-darkgrey;
        cursor: pointer;
    }
}
input[type=date]{
    width: 46%;
}
.date{
    width: 100%;
    display: flex;
    justify-content: space-between;

    input[type=text]{
        width: 46%;
    }
}

select{
    text-overflow: ellipsis;
}

.relative{
    position: relative;
}

.degree{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right:0;
    font-size: 16px;
    color: $color-seagrey;
    bottom: 14px;
    input[type=number]{
        position: relative;
        right:0;
        border:none;
        padding: 0;
        text-align: right;
    }
    .limit{
        position: relative;
        right:0;
    }
}

.upload{
    position: relative;
    overflow: hidden;
	width: 99%;
	padding: 8px 0 6px;
	text-align: center;
    background: #ffffff00;
    border: 2px $color-cyan solid;
    cursor: pointer;
    margin-top: 5px;

    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
    }

    label {
        color: $color-cyan;
        font-size: 16px;
        cursor: pointer;
        font-family: 'avenirregular';
    }

    label:before {
        content: "\21EA";
        margin-right: 5px;
    }
}

::placeholder{
    color: $color-seagrey;
    font-family: 'avenirregular';
    font-size:16px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: $color-seagrey;
    font-family: 'avenirregular';
    font-size:16px;
}
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: $color-seagrey;
    font-family: 'avenirregular';
    font-size:16px;
}

input[type=submit]{
    height:35px;
}

.step{
    margin-top: 17px;
    width:100%;
    color: $color-cyan;
    text-align: right;
    font-size: 13px;
}


.page-title{
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin-top: 32px;
}

.btn-add{
    display:flex;
    justify-content: flex-end;
    margin-top: 31.5px;
    align-items: center;
    color:$color-cyan;
    cursor:pointer;
}

.btn-text{
    font-size: 16px;
    margin-right: 8px;
}

.btn-border{
    width: 21px;
    height: 21px;
    border: 2px solid $color-cyan;
}

.btn-icon{
    font-size: 30px;
    transform: translate(0.5px,-8.5px);
}

#container{
    width: 100%;
    height: 100vh;
    background-color: $color-background;

    .small-title{
        background-color: $color-titlebar;
        font-size: 18px;
        color: $color-darkgrey;
        text-align: center;
        height: 24px;
        width: 100%;
        padding: 20px 0;
    }

    .list-row{
        width:100%;
        min-height:63px;
        border-bottom: 2px $color-list-line solid;
        position:relative;

    }

    .first-text{
        position: absolute;
        font-size: 16px;
        color: $color-seagrey;
        top:10px;
        left: 21px;
    }

    .last-text{
        position: absolute;
        font-size: 16px;
        bottom:10px;
        left: 21px;
    }

    .app-status-sent{
        color: $color-label;
    }

    .app-status-opened{
        color: #75757B;
    }

    .app-status-replied{
        color: #75757B;

        a{
            color: $color-cyan
        }
    }
}

.title-element{
    font-size: 20px;
    color: $color-label;
    position: absolute;
    top: 19px;
    left: 21px;

}

.btn-element{
    position: absolute;
    top: 28px;
    right: 31px;

    .btn-unwrap{
        width: 16px;
        height: 10px;
        position: relative;
        opacity: 70%;

        div{
            position: absolute;
            height: 3px;
            width: 10px;
            background-color: $color-seagrey;
            top:3px;
        }
        
        .line1{
            left:0;
            transform: rotate(45deg);
        }

        .line2{
            right:0;
            transform: rotate(-45deg);
        }
    }

}

.element-wrapper{
    width: 75%;
    max-width: 500px;
    color: $color-seagrey;
    margin: 32px auto 50px;
    overflow: hidden;

    .form-row{

        label{
            font-size: 13px;
            color: $color-label;
        }
    }
    
    .btn-add{
        color: $color-seagrey;
    }
    
    .btn-border{
        border: 2px solid $color-seagrey;
    }
}

.hide{
    display: none;
}

@keyframes line1Rotate {
    from{
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    to{
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

@keyframes line2Rotate {
    from{
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    to{
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.error{
    text-align: center;
    color: $color-white;
    margin-top: 20px;

}

